.col-3{
    border-width: 2px;
}
.card{
    padding: 1px 1px 1px 1px;
    margin: 10px 10px 10px 10px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-floating{
    border:0;
}

input,h5,textarea{
    border: 0;
}
button{
    margin: 4px 4px 4px 4px;
}
