.col-3{
    border-width: 2px;
}
.card{
    padding: 1px 1px 1px 1px;
    margin: 10px 10px 10px 10px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
    border-bottom: 0;
}

.card button{
    visibility: hidden;
}

.card:hover button{
    visibility: visible;
    margin: 0px 0px 0px 3px;
    background-color: rgba(0,0,0,.03);
}



label{
    display: inherit;
}

.is-hidden {
    display: none !important;
 }

 .buttonsection{
    float: right;
}
 button{
     border:0;
 }

